/*Nombre: Estefanía Anaya Cárdenas*/
/*Materia: Desarrollo de aplicaciones web*/
/*Fecha: 1 de marzo de 2021*/
/*Proyecto: Proyecto Integrador 1 Intersemestral - Página de Calendy Qro*/

body {
    margin: 0px;
    padding: 0px;
}
#logo {
    padding-top: 5px; 
    padding-right: 0px;
    width: 60vw;
}
#logo img {
    margin-left: 40px;
    width: 30%;
}
#links {
}
nav {
    display: flex;
    align-items: center;
    position: fixed; 
    background-color: #ffffff;
    margin: 0;
    width: 100%;
    font-family: Georgia;
}
ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    font-size:1.5vw;
    float: left;
}
li a{
    display: block;
    color: #B67E26;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;

}
nav ul li a {
    transition: all 1s;
}

li a:hover {
    color: #F1CC92;
    font-size: 123%;
}
header {
    background: url("assets/banner.png");
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.info-header {
    width: 640px;
    text-align: center;
    align-content: center;
    color: #FFFFFF;
}
.info-header h2{
    font-size: 600%;
    color: white;
    font-family: Georgia;
}
.info-header hr{
    border-color: #FFFFFF;
}
.info-header p{
    font-size: 30px;
}
h1, h2, h3, h4, h4, h5, h6 {
    text-align: center;
    font-size: 200%;
    font-family: Georgia;
    color: #643418;
    margin: 0;
    padding: 0;
}
p, span, strong, strong, button, label {
    font-size: 150%;
    font-family: sans-serif;
    color: #ca8d2b;
}
#info {
    background: url("assets/mision.gif");
    background-position: center;
    padding: 9.5% 0 9.5% 0;
}
.datos {
    display: flex;
    font-family: sans-serif;
    margin: 2% 30% 0 30%;
    text-align: center;
    font-family: sans-serif;
}
.datos th h2{
    font-size: 150%;
    font-family: sans-serif;
    color: #ca8d2b;
}
#menu {
    padding: 150px 0 150px;
    background-color: #f8cd77;
    text-align: center;
    color: white;
}
.btn button {
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 45px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.contenedor {
    margin-top: 20px;
    background-color: #f8cd77;
    display: flex;
}
.producto {
    padding: 2%;
    background-color: #ffffff;
    width: 60%;
    height: 80%;
    align-items: center;
    font-size: 80%;
    margin: 3%;
}
.producto img{
    align-self: center;
    width: 100%;
    border-radius: 50%;
}
.producto p {
    padding: 3%;
    text-align: center;
}
#galeria{
    margin: 100px 0 200px 0;
    padding-top: 150px;
}
.fila {
    display: flex;
    margin-bottom: 10px;
    margin: 0 15px 15px 15px;
}
.caja-galeria {
    width: 33.333333%;
    padding: 20px 20px 0 20px;
    margin 20px;
}
.caja-galeria img {
    width: 100%;
    display: block;
}
#contacto {
    background: url("assets/form.png");
    padding: 40px;
    padding-top: 73px;
    padding-bottom: 73px;
    color: white;
}
#contacto h1{
    color:#FFFFFF;
    size: 300%;
}
#formulario {
    max-width: 600px;
    margin: 0 auto;
}
.formal {
    width: 95%;
    padding: 20px;
    background-color: transparent;
    border: 1px solid;
    color: #ffffff;
    
    margin-bottom: 15px;
    border-radius: 5px;
}
.formulario input{
    font-family: sans-serif;
    background-color: #ffffff;
}
.btn button {
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 45px;
    align-items: right;
    border-radius: 5px;
    color: white;
    font-size: 20px;

}
footer {
    background-color: #FFFFFF;
    color: #B67E26;
    font-family: Georgia;
    font-weight: bold;
    padding: 50px 0;
    margin: 0 40px 0 25px;
}

.redes-sociales a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    color: #B67E26;
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}