/*Nombre: Estefanía Anaya Cárdenas*/
/*Materia: Desarrollo de aplicaciones web*/
/*Fecha: 1 de marzo de 2021*/
/*Proyecto: Proyecto Integrador 1 Intersemestral - Página de Calendy Qro*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    margin-top: 0px;
}
#logo {
    padding-top: 13px; 
    padding-right: 0px;
    width: 50vw;
}
#logo h4 {
    color: #ffffff;
    text-align: left;
    padding-left: 120px;
    align-items: center;
}

#links {
    width: 50vw;
    margin: 10px;
    margin-left: 120px;
    align-items: center;
    text-align: center;
}
nav {
    
    display: flex;
    position: fixed; 
    background-color: transparent;
    margin: 0;
    font-family: "Montserrat";
}
ul{

    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    font-size:1.2vw;
    float: left;
    align-content: space-between;
    align-items: flex-end;
    margin:0px;
}
li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;

}
#btn2 {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
    font-size: 1.2vw;
    margin-top:-5px

}
li a:hover {
    color: #F1CC92;
    font-size: 110%;
}
#btn2:hover {
    background-color:#F1CC92;
    font-size: 105%;
}
.scrolling-active {
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
} 
.scrolling-active #links a {
    color:#B67E26;
}
.scrolling-active #logo h4 {
    color:#B67E26;
}
.scrolling-active #links #btn2{
    color:#B67E26;
    border: 1px solid #B67E26;;
}

header {
    background: url("assets/banner.png");
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.info-header {
    width: 640px;
    text-align: center;
    align-content: center;
    color: #FFFFFF;
}
.info-header h2{
    font-size: 600%;
    color: white;
    font-family: "Montserrat";
}
.info-header hr{
    border-color: #FFFFFF;
}
.info-header p{
    font-size: 30px;
}
h1, h2, h3, h4, h4, h5, h6 {
    text-align: center;
    font-size: 200%;
    font-family: "Montserrat";
    color: #643418;
    margin: 0;
    padding: 0;
}
p, span, strong, strong, button, label {
    font-size: 150%;
    font-family: "Montserrat";
    color: #ca8d2b;
}
#productos {
    background-size: cover;
    background-color: #ffffff;
    height: 950px;
}
table{
    align-content: center;
    align-items: center;
    padding:3px 10px;
    margin:auto;
    width: 600px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 15px;
}
table td{
    margin:0px;
    border-right: 
}
#contacto {
    background: url("assets/form.png");
    padding: 40px;
    padding-top: 73px;
    padding-bottom: 73px;
    color: white;
}
#contacto h1{
    color:#FFFFFF;
    size: 300%;
}

#formulario {
    max-width: 600px;
    margin: 0 auto;
}
.formal {
    width: 95%;
    padding: 20px;
    border: 1px solid;
    color: #B67E26;
    margin-bottom: 15px;
    border-radius: 5px;
}
.formulario input{
    font-family: "Montserrat" sans-serif;
    background: white;
}
.btn button {
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 45px;
    align-items: right;
    border-radius: 5px;
    color: white;
    font-size: 20px;

}
footer {
    background-color: #FFFFFF;
    color: #B67E26;
    font-family: "Montserrat" sans-serif;
    font-weight: bold;
    padding: 50px 0;
    margin: 0 40px 0 25px;
}

.redes-sociales a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    color: #B67E26;
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}